$main: #333333;
$hover: #125bae;
$history: #5a0488;
$second: #aaaaaa;
$white: #ffffff;

$color-font-bg: #e2efff;
$color-brand: #7397f5;
$color-border: #d5d5d5;
$corol-icons: #cbcbcb;
$color-scroll-bar: #f2f2f2;
